// Flexbox Mixin
@mixin flexbox($justify: center, $align: center, $direction: row, $wrap: nowrap) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
  flex-wrap: $wrap;
}

// Grid Mixin
@mixin grid($columns: 1fr, $rows: auto, $gap: 0, $align: start, $justify: start) {
  display: grid;
  grid-template-columns: $columns;
  grid-template-rows: $rows;
  gap: $gap;
  align-items: $align;
  justify-items: $justify;
}


body{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.skeleton{
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  gap: 0;

  .sidebar{
    @include flexbox(start, start, column);
    //border-right: 1.6px solid rgb(185, 184, 184);
    background-color: rgb(15, 15, 15);
    transition: 0.15s ease;
    position: relative;
    position: fixed;
    width: 220px;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 100;

    @media (max-width: 1040px) {
      width: 60px;
    }
    @media (max-width: 600px) {
      width: 50px;
    }

    .logo{
      @include flexbox(start, center, column);
      width: 100%;
      padding: 1.5rem 0;

      .quantiq{
        @include flexbox(start, center, row);
        width: 100%;
        padding-left: 1rem;

        @media(max-width: 600px){
          padding-left: .65rem;
        }
        
        & > span:nth-child(1){
          width: 30px;

          img{
            width: 100%;
          }
        }
        & > span:nth-child(2){
          font-size: 1.35rem;
          font-weight: 700;
          margin-left: .75rem;
          opacity: .8;
          color:rgb(169, 167, 167);

          @media(max-width: 1040px){
            display: none;
          }
        }
      }

      .sidebar_toggle{
        width: 100%;
        @include flexbox(end, center);
        
        @media(max-width: 1040px){
          margin-left: 18px;
        }

        .black_box{
          @include flexbox(center, center);
          background-color: rgb(15, 15, 15);
          margin-top: 8px;
          width: 26px; 
          height: 26px;
          border-radius: 50%;

          span{
            width: 20px; 
            height: 20px;
            border: 1.85px solid rgb(169, 167, 167);
            border-radius: 50%;
            @include flexbox(center, center);
            background-color: rgb(204, 201, 201);
            transition: 1s ease;
  
            @media(min-width: 1035px){
              display: none;
            }
  
            img{
              width: 14px;
              opacity: .65;
            }
  
            &:hover{
              background-color: aliceblue;
              cursor: pointer;
            }
          }
        }
      }

      // .toggle_sidebar{
      //   width: 32px;

      //   img{
      //     width: 100%;
      //   }

      //   img:nth-child(1){
      //     @media(min-width: 1025px){
      //       display: none;
      //     }
      //   }

      //   .hidden{
      //     display: none;
      //   }
      // }
    }

    .pages{
      @include flexbox(start, center, column);
      padding: 1.8rem 0;
      width: 100%;
      height: 100%;

      .page_link{
        width: 100%;
        padding: .75rem 1rem;
        @include flexbox(start, center, row);

        & > span:nth-child(1){
          width: 24px;

          @media(max-width: 1040px){
            width: 22px;
          }
          @media(max-width: 780px){
            width: 20px;
          }
    
          img{
            width: 100%;
          }
        }

        & > span:nth-child(2){
          font-size: .9rem;
          font-weight: 500;
          margin-left: 1.25rem;
          color:rgb(202, 207, 208);
          //color:#98b2c8;

          @media(max-width: 1040px){
            display: none;
            font-size: 14px;
          }
          @media(max-width: 780px){
            font-size: 12px;
          }
        }

        &:hover{
          background-color: rgb(28, 28, 29);
          & > span:nth-child(2){
            color:rgb(223, 227, 227)
          }
        }
      }

      & > a:nth-child(9){
        margin-top: auto;
      }
    }
  }

  .parent_container{
    @include flexbox(start, center, column);
    padding-left: 220px;

    @media(max-width: 1040px){
      padding-left: 60px;
    }
    @media(max-width: 600px){
      padding-left: 50px;
    }

    .dynamic_head{
      @include flexbox(space-between, center, row);
      width: 100%;
      padding: 1.35rem .75rem .85rem .75rem;
      border-bottom: 1.6px solid rgb(236, 236, 236);
      background-color: rgb(239, 243, 250);
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      padding-left: 220px;
      z-index: 10;

      @media(max-width: 1040px){
        padding-left: 60px;
      }
      @media(max-width: 600px){
        padding-left: 50px;
      }

      .dynamic_title{
        font-size: 1.2rem;
        font-weight: 600;
        opacity: .7;
        margin-left: .5rem;
      }

      .dynamic_profile{
        @include flexbox(start, center, row);

        // .bell_box{
        //   width: 28px;
        
        //   img{
        //     width: 100%;
        //   }
        // }

        .profile_box{
          @include flexbox(start, center, row);
          margin-left: 2rem;
          
          .company_img{
            width: 38px;

            img{
              width: 100%;
              opacity: .85;
            }
          }

          .profile_brief{
            @include flexbox(start, start, column);
            margin-left: .45rem;

            & > div:nth-child(1){
              font-size: 14px;
              font-weight: 700;
              opacity: .9;
            }
            & > div:nth-child(2){
              font-size: 12px;
              font-weight: 600;
              opacity: .9;
            }
          }
        }
      }
    }

    .dynamic_body{
      background-color: rgb(248, 248, 248);
      width: 100%;
      height: 100%;
    }
  }
}

.skeleton.active{
  .sidebar{
    width: 220px;

    .logo{      
      .quantiq{
        & > span:nth-child(2){
          display: block;
        }
      }
      .sidebar_toggle{
        //@include flexbox(end, center);
        span{
          transform: rotateY(180deg);
        }
      }
    }

    .pages{
      .page_link{
        & > span:nth-child(2){
          display: block;
        }
      }
    }
  }
}

// .parent_container.respond{
//   padding-left: 220px;

//   .dynamic_head{
//     padding-left: 220px;
//   }
// }
