<div class="dynamic_head">
  <div class="dynamic_title">
    {{pageTitle}}
  </div>

  <div class="dynamic_profile">
    {{!-- <div class="bell_box">
      <img src="assets/icons/notification.svg" alt="notification">
    </div> --}}

    <div class="profile_box">
      <div class="company_img">
        <img src="assets/icons/organization.svg" alt="company">
      </div>

      <div class="profile_brief">
        <div>Company Name</div>
        <div>company@email.com</div>
      </div>
    </div>
  </div>
</div>