<section class="sidebar">
  <div class="logo">
    <div class="quantiq">
      <span>
        <img src="assets/Quant_logo.png" alt="quantlogo">
      </span>

      <span>QuantIQ</span>
    </div>

    <div class="sidebar_toggle">
      <div class="black_box">
        <span>
          <img src="assets/icons/sidebar_toggle.svg" alt="toggle" class="toggler">
        </span>
      </div>
    </div>

    {{!-- <div class="toggle_sidebar">
      <img src="assets/icons/hamburger.svg" alt="hamburger">
      <img src="assets/icons/close-x.svg" alt="close-x" class="hidden">
    </div> --}}
  </div>

  <div class="pages">
    <a href="/dashboard" class="page_link">
      <span>
        <img src="assets/pagelinks/dashboard.svg" alt="dashboard">
      </span>
      <span>Dashboard</span>
    </a>

    <a href="/sales_analytics" class="page_link">
      <span>
        <img src="assets/pagelinks/sales_analytics.svg" alt="sales_analytics">
      </span>
      <span>Sales Analytics</span>
    </a>

    <a href="/customer_insights" class="page_link">
      <span>
        <img src="assets/pagelinks/insights.svg" alt="insights">
      </span>
      <span>Customer Insights</span>
    </a>

    <a href="/forecasting" class="page_link">
      <span>
        <img src="assets/pagelinks/forecasting.svg" alt="forecasting">
      </span>
      <span>Forecasting</span>
    </a>

    <a href="/ai_insights" class="page_link">
      <span>
        <img src="assets/pagelinks/ai_insights.svg" alt="ai_insights">
      </span>
      <span>AI Insights</span>
    </a>

    <a href="/sentiment_analysis" class="page_link">
      <span>
        <img src="assets/pagelinks/sentiment_analysis.svg" alt="sentiment_analysis">
      </span>
      <span>Sentiment Analysis</span>
    </a>

    <a href="/esg_metrics" class="page_link">
      <span>
        <img src="assets/pagelinks/esg_metrics.svg" alt="esg_metrics">
      </span>
      <span>ESG Metrics</span>
    </a>

    <a href="/files" class="page_link">
      <span>
        <img src="assets/pagelinks/files.svg" alt="files">
      </span>
      <span>Files</span>
    </a>

    <a href="/settings" class="page_link">
      <span>
        <img src="assets/pagelinks/settings.svg" alt="settings">
      </span>
      <span>Settings</span>
    </a>

    <a href="/account_management" class="page_link">
      <span>
        <img src="assets/pagelinks/account_management.svg" alt="account_management">
      </span>
      <span>Account Management</span>
    </a>
  </div>
</section>