<section class="skeleton">
  {{>sidebar}}

  <section class="parent_container">
    {{>dynamic_head}}

    <div class="dynamic_body">
      <button id="open-modal-btn">Upload Data</button>
      {{>data_ingestion}}
    </div>
  </section>
</section>

<script src="js/shared.js"></script>
