<section class="skeleton">
  {{>sidebar}}

  <section class="parent_container">
    {{>dynamic_head}}

    <div class="dynamic_body">
      {{!-- Your sections and divs go here --}}
    </div>
  </section>
</section>

    <script src="js/shared.js"></script>
