<style>
  /* Custom styles for inputs and selects */
  input[type="text"],
  input[type="email"],
  input[type="password"],
  select {
      font-size: 1.0rem; /* Larger font size */
      padding: 0.5rem; /* More padding */
      border-width: 2px; /* Thicker border */
  }

  select:disabled {
      color: rgba(107, 114, 128, 0.5); /* Faint color for disabled options */
  }

  select option[disabled] {
      color: rgba(107, 114, 128, 0.5); /* Faint color for disabled selected options */
  }
</style>

<section class="bg-white">
  <div class="lg:grid lg:min-h-screen lg:grid-cols-12">
    <aside class="relative block h-16 lg:order-last lg:col-span-5 lg:h-full xl:col-span-6">
      <img
        alt=""
        src="assets/screen_graphs.jpg"
        class="absolute inset-0 h-full w-full object-cover"
      />
    </aside>

    <main
      class="flex items-center justify-center px-8 py-8 sm:px-12 lg:col-span-7 lg:px-16 lg:py-12 xl:col-span-6"
    >
      <div class="max-w-xl lg:max-w-3xl">
        {{!-- <a class="block text-blue-600" href="#">
          <span class="sr-only">Home</span>
          <img
            class="h-8 sm:h-10"
            src="assets/Quant_logo.png" 
            alt="Logo"
          />
        </a> --}}

        <h1 class="mt-6 text-2xl font-bold text-gray-900 sm:text-3xl md:text-4xl">
          Welcome to QuantIQ ⚛️
        </h1>

        <p class="mt-4 leading-relaxed text-gray-500">
          Join QuantIQ today and unlock powerful insights for smarter financial decisions—tailored for professionals in data, finance, and analytics.
        </p>

        <form action="/register" method="POST" class="mt-8 grid grid-cols-6 gap-6" onsubmit="return validateForm()" id="registerform">
          <div class="col-span-6 sm:col-span-3">
            <label for="FirstName" class="block text-sm font-medium text-gray-700">
              First Name
            </label>

            <input
              type="text"
              id="firstname"
              name="first_name"
              class="mt-1 w-full rounded-md border-gray-200 bg-white text-sm text-gray-700 shadow-sm"
            />
          </div>

          <div class="col-span-6 sm:col-span-3">
            <label for="LastName" class="block text-sm font-medium text-gray-700">
              Last Name
            </label>

            <input
              type="text"
              id="lastname"
              name="last_name"
              class="mt-1 w-full rounded-md border-gray-200 bg-white text-sm text-gray-700 shadow-sm"
            />
          </div>

          <!-- Company Name -->
          <div class="col-span-6">
            <label for="CompanyName" class="block text-sm font-medium text-gray-700">
              Company Name
            </label>
            <input
              type="text"
              id="companyname"
              name="company_name"
              class="mt-1 w-full rounded-md border-gray-200 bg-white text-sm text-gray-700 shadow-sm"
            />
          </div>

          <!-- User Role Dropdown -->
          {{!-- <div class="col-span-6">
            <label for="UserRole" class="block text-sm font-medium text-gray-700">
              User Role
            </label> --}}
            {{!-- <select
              id="userRole"
              name="user_role"
              class="mt-1 w-full rounded-md border-gray-200 bg-white text-sm text-gray-700 shadow-sm"
            >
              <option value="" disabled selected>Select your role</option>
              <option value="executive">Executive</option>
              <option value="financial_analyst">Financial Analyst</option>
              <option value="data_scientist">Data Scientist</option>
              <option value="marketing_analyst">Marketing Analyst</option>
              <option value="business_analyst">Business Analyst</option>
              <option value="consultant">Consultant</option>
              <option value="other">Other</option>
            </select> --}}
          {{!-- </div> --}}

          <!-- Company Industry Dropdown -->
          {{!-- <div class="col-span-6">
            <label for="CompanyIndustry" class="block text-sm font-medium text-gray-700">
              Company Industry
            </label>
            <select
              id="companyIndustry"
              name="company_industry"
              class="mt-1 w-full rounded-md border-gray-200 bg-white text-sm text-gray-700 shadow-sm"
            >
              <option value="" disabled selected>Select your industry</option>
              <option value="technology">Technology</option>
              <option value="finance">Finance</option>
              <option value="healthcare">Healthcare</option>
              <option value="education">Education</option>
              <option value="manufacturing">Manufacturing</option>
              <option value="retail">Retail</option>
              <option value="other">Other</option>
            </select>
          </div> --}}

          <div class="col-span-6">
            <label for="Email" class="block text-sm font-medium text-gray-700"> Corporate Email</label>
            <input
              type="email"
              id="email"
              name="email"
              class="mt-1 w-full rounded-md border-gray-200 bg-white text-sm text-gray-700 shadow-sm"
            />
          </div>
          
          <div class="col-span-6 sm:col-span-3">
            <label for="Password" class="block text-sm font-medium text-gray-700"> Password </label>
            <input
              type="password"
              id="password"
              name="password"
              class="mt-1 w-full rounded-md border-gray-200 bg-white text-sm text-gray-700 shadow-sm"
            />
          </div>

          <div class="col-span-6 sm:col-span-3">
            <label for="PasswordConfirmation" class="block text-sm font-medium text-gray-700">
              Password Confirmation
            </label>
            <input
              type="password"
              id="passwordconfirmation"
              name="password_confirmation"
              class="mt-1 w-full rounded-md border-gray-200 bg-white text-sm text-gray-700 shadow-sm"
            />
          </div>

          <div class="col-span-6">
            <label for="MarketingAccept" class="flex gap-4">
              <input
                type="checkbox"
                id="MarketingAccept"
                name="marketing_accept"
                class="size-5 rounded-md border-gray-200 bg-white shadow-sm"
              />
              <span class="text-sm text-gray-700">
                I want to receive emails about events, product updates and company announcements.
              </span>
            </label>
          </div>

          <div class="col-span-6">
            <p class="text-sm text-gray-500">
              By creating an account, you agree to our
              <a href="#" class="text-gray-700 underline"> terms and conditions </a>
              and
              <a href="#" class="text-gray-700 underline">privacy policy</a>.
            </p>
          </div>

          <div class="col-span-6 sm:flex sm:items-center sm:gap-4">
            <button
              class="inline-block shrink-0 rounded-md border border-blue-600 bg-blue-600 px-12 py-3 text-sm font-medium text-white transition hover:bg-transparent hover:text-blue-600 focus:outline-none focus:ring active:text-blue-500"
            >
              Create an account
            </button>

            <p class="mt-4 text-sm text-gray-500 sm:mt-0">
              Already have an account?
              <a href="/signin" class="text-gray-700 underline">Log in</a>.
            </p>
          </div>
        </form>
      </div>
    </main>
  </div>
</section>

<script>
  function validateForm() {
      const password = document.getElementById("Password").value;
      const passwordConfirm = document.getElementById("Passwordconfirmation").value;

      if (password !== passwordConfirm) {
          alert("Passwords do not match.");
          return false; // Prevent form submission
      }

      return true; // Allow form submission
  }

  document.getElementById('registerform').addEventListener('submit', async (e) => {
    e.preventDefault(); // Prevent default form submission

    // Get form input values
    const firstname = document.getElementById('firstname').value;
    const lastname = document.getElementById('lastname').value;
    const password = document.getElementById('password').value;
    const email = document.getElementById('email').value;
    const companyname = document.getElementById('companyname').value;

    // Prepare data object, initially without latitude and longitude
    const data = {
      firstname,
      lastname,
      email,
      password,
      companyname,
    };

        try {
          const response = await fetch('/register', {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
          });

          if (response.ok) {
            alert('Registration successful! Redirecting to dashboard...');
            window.location.href = '/customfield';
          } 
          else {
            const errorText = await response.text();
            alert('Registration failed: ' + errorText);
          }
        } catch (error) {
          console.error('Error:', error);
          alert('An unexpected error occurred.');
        }
      },
     
  );
</script>